<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Amigo Secreto: {% block title %}{% endblock title%}</title>
    <meta name="description" content="App de Amigo Secreto">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "Montserrat", sans-serif;
      }
    {% block styles %}
      {% include 'css_login.html' %}  
    {% endblock %}
    </style>
  </head>
  {% if request.path != '/s1/'%}
    {% include 'nav.html'%}
  {% endif %}
  <body>
    <div class="container">
    {% block content %}Aquí no hay nada :o{% endblock content%}
    </div>
  </body>
  <script>
    setTimeout(function() {
      const flashMessages = document.querySelectorAll('.flash-message');
      flashMessages.forEach(function(message) {
        message.style.opacity = '0';
        setTimeout(function() { message.remove(); }, 500);
      });
    }, 3000);
  </script>
</html>