{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="row d-flex justify-content-center mb-5">
    <div class="col-4">
        <h1 class="text-center">Welcome, <strong>{{ user.name }}</strong>!</h1>
    </div>
</div>
<div class="row d-flex justify-content-evenly">
    <div class="col col-md-2 bg-light p-3">
        <h3>My Events:</h3>
        {% if events %}
        <ul>
            {% for event in events %}
            <li><a href="{{url_for("home.home_view", event_id=event.id)}}">{{ event.name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col col-md-4 bg-warning p-3">
        {% if event_pick %}
            <div>
                <h3>For <strong>{{current_event.name}}</strong>:</h3>
                <h4 class="text-center">You are <strong>{{event_pick.name}}'s</strong> Secret Santa!</h4>
            </div>
            {% if wishlist %}
                <div class="me-25">   
                    <table class="table table-success" >
                        <thead class="text-center">
                            <tr>
                                <th>Description</th>
                                <th>Approximate Price</th>
                                <th>Example's Link</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for wish in wishlist %}
                            <tr>
                                <td class="p-1">{{wish.element}}</td>
                                <td class="p-1 text-center">
                                    {% if wish.price %}
                                        ${{wish.price}}
                                    {% else %}
                                        <span class="text-danger">No price set</span>
                                    {% endif %}
                                </td>
                                <td class="p-1">
                                    <a href="{{wish.url}}" target="_blank">Check the example</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
      {% else %}
        {% if current_event %}
            <p>The Event <strong>{{ current_event.name }}</strong> Hasn't Been Drawn Yet!</p>
        {% else %}
            <p>You have No Events Yet!</p>
        {% endif %}
      {% endif %}
      {% if pick_error%}
        <h3>Oops: {{pick_error}}</h3>
      {% endif %}
    </div>
    {% if current_event.min_price or current_event.max_price %}
        <div class="col col-md-3 bg-secondary p-3">
            <div class="white-seethrough p-1" style="border: 2px black solid;">
                <p class="m-2">Remember:</p>
                <ul class="ms-3">
                    {% if current_event.min_price%}
                    <li>
                        The <strong>minimum</strong> gift price for this event is: <strong>${{current_event.min_price}}</strong>
                    </li>
                    {% endif %}
                    {% if current_event.max_price%}
                    <li>
                        The <strong>maximum</strong> gift price for this event is: <strong>${{current_event.max_price}}</strong>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
  </div>
</div>
<script>
  const selectElement = document.getElementById("events");
  selectElement.addEventListener("change", function () {
    const selectedValue = selectElement.value;
    if (selectedValue) {
      window.location.href = {{url_for('home.home_view', event_id=selectedValue)}}`;
    }
  });
</script>
{% endblock content %}
