{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block styles%}
{% include 'css_html.html' %}
{% endblock styles %}
{% block content %}
<div>
  <div>
    <h1>Bienvenido, <strong>{{ user.name }}</strong>!</h1>
  </div>
  </br>
  <div class="d-flex justify-between">
    <div>
      <label for="events">Eventos:</label>
      <select name="events" id="events">
      {% if events %}
        {% for event in events %}
        <option value="{{event.id}}">{{event.name}}</option>
        {% endfor %}
      {% else %}
        <option disabled>--No hay Eventos--</option>
      {% endif %}
      </select>
      <br/>
      <br/>
      {% if current_event.min_price or current_event.max_price %}
      <div style="background: #FFFFFF80; padding: 10px; border: 2px black solid;">
        <span>Te recordamos que:</span>
        <ul class="ms-5">
          <br/>
          {% if current_event.min_price%}
          <li>el valor <strong>mínimo</strong> del regalo es: <strong>${{current_event.min_price}}</strong></li>
          <br/>
          {% endif %}
          {% if current_event.max_price%}
          <li>el valor <strong>máximo</strong> del regalo es: <strong>${{current_event.max_price}}</strong></li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
    {% if event_pick %}
    <div class="d-flex align-center">
      <p>Tu Amigo Secreto para {{current_event.name}} es:&nbsp;&nbsp;</p>
      <h1>{{event_pick.name}}</h1>
    </div>
    <div class="me-25">   
      {% if wishlist %}
      <table>
        <tr>
          <th>Descripción</th>
          <th>Imagen de Referencia</th>
        </tr>
        {% for wish in wishlist %}
        <tr>
          <td>{{wish.element}}</td>
          <td><img class="wishlist" src="{{wish.url}}" alt="{{wish.element}}"></td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
      {% else %}
        <p> El concurso aún no se lanza </p>
      {% endif %}
      {% if pick_error%}
        <h3>Ups: {{pick_error}}</h3>
      {% endif %}
    </div>
  </div>
</div>
<script>
  const selectElement = document.getElementById("events");
  selectElement.addEventListener("change", function () {
    const selectedValue = selectElement.value;
    if (selectedValue) {
      window.location.href = {{url_for('frontend.home_view', event_id=selectedValue)}}`;
    }
  });
</script>
{% endblock content %}
