{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="login_form">
  <form method="POST" action="{{ url_for('users.user_login') }}">
    <h3>Log in</h3>
    <div class="input_box">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter email address" required />
    </div>
    <div class="input_box">
      <div class="password_title">
        <label for="password">Password</label>
        <a href="#">Forgot Password?</a>
      </div>
      <input type="password" id="password" name="password" placeholder="Enter your password" required />
    </div>
    <button type="submit">Log In</button>
    <p class="sign_up">Don't have an account? <a href="#">Sign up</a></p>
  </form>
</div>
{% endblock content %}