{% extends "base.html" %}
{% block title %}Administrar Eventos{% endblock title %}
{% block styles%}
{% include 'css_html.html' %}
{% endblock styles %}
{% block content %}
  <div>
    {{ select_form.events.label }} {{ select_form.events }}
  </div>
  <br/>
  {% if current_event %}
    <div class="d-flex justify-between">
      <div class="ms-5">
        <h3>Listado de Participantes:</h3>
        <br/>
        <form id="eventForm" action="{{url_for("frontevent.events_view", event_id=current_event.id)}}" method="POST">
          {{ form.hidden_tag() }}
          {{ form.name.label }} {{ form.name }}
          {{ form.min_price.label }} {{ form.min_price }}
          {{ form.max_price.label }} {{ form.max_price }}
          {{ form.submit }}
        </form>
      </div>
      <div>
        {% if not current_event.drawn %}
        <a href="{{ url_for('events.draw_event', event_id=event_selected)}}">
          <button type="button" class="me-5 event">Realizar Sorteo!</button>
        </a>
        {% else %}
        <h1>Este evento ya se sorteó</h1>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <script>
    const fieldset = document.getElementById('users_fieldset');
    const lastChild = fieldset.lastElementChild;
    let id = lastChild.id;
    let userCount = parseInt(id.replace("user", "")) + 1;
    document.getElementById('add_user_button').addEventListener('click', function() {
      const newUserDiv = document.createElement('div');
      newUserDiv.classList.add('user', 'd-flex', 'justify-evenly', 'mb-5');
      newUserDiv.id = `user${userCount}`;
      const nameDiv = document.createElement('div');
      const nameLabel = document.createElement('label');
      nameLabel.setAttribute('for', `user${userCount}_name`);
      nameLabel.textContent = 'Nombre:';
      const nameInput = document.createElement('input');
      nameInput.type = 'text';
      nameInput.id = `user${userCount}_name`;
      nameInput.name = `users[${userCount}][name]`;
      nameInput.required = true;
      nameDiv.appendChild(nameLabel);
      nameDiv.appendChild(nameInput);

      const emailDiv = document.createElement('div');
      const emailLabel = document.createElement('label');
      emailLabel.setAttribute('for', `user${userCount}_email`);
      emailLabel.textContent = 'Email:';
      const emailInput = document.createElement('input');
      emailInput.type = 'email';
      emailInput.id = `user${userCount}_email`;
      emailInput.name = `users[${userCount}][email]`;
      emailInput.required = true;
      emailDiv.appendChild(emailLabel);
      emailDiv.appendChild(emailInput);
      
      const deleteButton = document.createElement('button');
      deleteButton.type = 'button';
      deleteButton.classList.add('eliminar');
      deleteButton.setAttribute('data-id', `user${userCount}`);
      deleteButton.textContent = 'Eliminar';

      deleteButton.addEventListener('click', function() {
        const userId = deleteButton.getAttribute('data-id');
        const userElement = document.getElementById(userId);
        userElement.remove();
      });

      newUserDiv.appendChild(nameDiv);
      newUserDiv.appendChild(emailDiv);
      newUserDiv.appendChild(deleteButton);

      const fieldset = document.getElementById('users_fieldset');
      fieldset.appendChild(newUserDiv);
      userCount++;
    });

    document.querySelectorAll('.eliminar').forEach(function(button) {
      button.addEventListener('click', function() {
          const itemId = this.getAttribute('data-id');
          const item = document.getElementById(itemId);
          item.remove();
      });
  });
  </script>
{% endblock content%}