{% extends "base.html" %}
{% block title %}Administrar Eventos{% endblock title %}
{% block styles%}
{% include 'css_html.html' %}
{% endblock styles %}
{% block content %}
  <div>
    <label for="events">Eventos Propios:</label>
    <select name="events" id="events">
    {% if events %}
      {% for event in events %}
      <option value="{{event.id}}">{{event.name}}</option>
      {% endfor %}
    {% else %}
      <option disabled>--No hay Eventos--</option>
    {% endif %}
    </select>
  </div>
  <br/>
  {% if current_event %}
    <div class="d-flex justify-between">
      <div class="ms-5">
        <h3>Listado de Participantes:</h3>
        <br/>
        <ul>
          {% for participant in current_event.users %}
            <li>{{participant.name}}</li>
          {% endfor %}
        </ul>
      </div>
      {% if current_event.min_price or current_event.max_price %}
      <div>
        {% if current_event.min_price %}
        <div>
          <p>El precio <strong>mínimo</strong> configurado es: ${{current_event.min_price}}</p>
        </div>
        {% endif %}
        {% if current_event.max_price %}
        <div>
          <p>El precio <strong>máximo</strong> configurado es: ${{current_event.max_price}}</p>
        </div>
        {% endif %}
      </div>
      {% endif %}
      <div>
        {% if not current_event.drawn %}
        <a href="{{ url_for('events.draw_event', event_id=event_selected)}}">
          <button type="button" class="me-5 event">Realizar Sorteo!</button>
        </a>
        {% else %}
        <h1>Este evento ya se sorteó</h1>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock content%}