{% extends "base.html" %}
{% block title %}Listas de Deseos{% endblock title %}
{% block styles%}
{% include 'css_html.html' %}
{% endblock styles %}
{% block content %}
<div class="container d-flex">
  <div class="col-6">
    <h1>Mis Concursos</h1>
    <br/>
    <ul>
      {% for event in events %}
      <li><a href="{{url_for("frontend_wishlist.wishlist_view", event_id=event.id)}}">{{ event.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-6">
    {% if event_selected %}
    <h1>Mis Listas de Deseos</h1>
    {% if title %}
    <br/>
    <p>Evento: <strong> {{ title }}</strong></p>
    {% endif %}

    <br/>
    <form action="{{ url_for("frontend_wishlist.wishlist_view", event_id=event_selected) }}" id="wishlistForm" method="POST" enctype="multipart/form-data">
      {{ wishlist_form.hidden_tag() }}
      <table>
        <tr>
          <th>Idea de Regalo</th>
          <th> URL de Imagen </th>
          <th>Imagen de Ejemplo</th>
        </tr>
        {% for item in wishlist_form.items %}
        <tr>
          <td class="p-1">{{ item.element(size=20)}}</td>
          <td class="p-1">{{ item.image.label }} {{ item.image }}<br/><span>o<br/></span>{{item.url.label}} {{ item.url }}</td>
          <td class="p-1">{% if item.url.data %}<img class="wishlist" src="{{ item.url.data }}" alt="{{ item.element.data }}"/>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
      {{ wishlist_form.submit }}
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}